<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MicroVK.MySettings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <MicroVK.MySettings>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="Notification3" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notification4" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notification8" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notification9" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notification61" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notification62" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AccentColor" serializeAs="String">
        <value>#FF4A76A8</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MessageSendType1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageSendType2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Volume" serializeAs="String">
        <value>8192</value>
      </setting>
      <setting name="Background" serializeAs="String">
        <value />
      </setting>
      <setting name="BackgroundOpacity" serializeAs="String">
        <value>0.15</value>
      </setting>
      <setting name="IsBackground" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsSetActivity" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckLink" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MarkMessageInvisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotificationH" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="NotificationV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IsSpeak" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpeakRate" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="SpellCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Notification40" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NColor3" serializeAs="String">
        <value>#FF2A3345</value>
      </setting>
      <setting name="NColor4" serializeAs="String">
        <value>#FF2A3345</value>
      </setting>
      <setting name="NColor8" serializeAs="String">
        <value>#FF008A00</value>
      </setting>
      <setting name="NColor9" serializeAs="String">
        <value>#FF647687</value>
      </setting>
      <setting name="NColor61" serializeAs="String">
        <value>#FF2A3345</value>
      </setting>
      <setting name="NColor62" serializeAs="String">
        <value>#FF2A3345</value>
      </setting>
      <setting name="NColor40" serializeAs="String">
        <value>#FF2A3345</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value />
      </setting>
      <setting name="Culture" serializeAs="String">
        <value />
      </setting>
      <setting name="MD5" serializeAs="String">
        <value />
      </setting>
      <setting name="InTaskbar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsClosed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlayerNotInTaskBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="VideoPlayerTopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MusicPlayerSnap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSelectIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="YandexAndBingToday" serializeAs="String">
        <value />
      </setting>
      <setting name="isMicroVKGroup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Voice" serializeAs="String">
        <value />
      </setting>
      <setting name="MRandom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MRepeat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Share" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DialogStyle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="runMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="speak3" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="speak4" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="speak40" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="speak8" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="speak9" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="speak61" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="speak62" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpeakChatMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpeakMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpeakVolume" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="hideTabs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isButton" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dsAvatar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dsAvatarOut" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dsColor" serializeAs="String">
        <value>#33000000</value>
      </setting>
      <setting name="dsColorOut" serializeAs="String">
        <value>#66000000</value>
      </setting>
      <setting name="dsColorDark" serializeAs="String">
        <value>#33647687</value>
      </setting>
      <setting name="dsColorOutDark" serializeAs="String">
        <value>#3387794E</value>
      </setting>
      <setting name="dsFontColor" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="dsFontColorOut" serializeAs="String">
        <value>#000000</value>
      </setting>
      <setting name="dsFontColorDark" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="dsFontColorOutDark" serializeAs="String">
        <value>#FFFFFF</value>
      </setting>
      <setting name="microVKHelp1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="saveProfile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NColor41" serializeAs="String">
        <value>#FF76608A</value>
      </setting>
      <setting name="speak41" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notification41" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SendSuccessfullyNotify" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SmilePanel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FloatTopMost" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsMediaKey" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsTabBottom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="photoSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RunAsStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActiveScreen" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Notification30" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notification31" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notification4_0" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notification4_1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OpenFirstDialog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ImageServiceId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="useImageService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowConfirmExit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OnlyFavorite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notification6" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Notification7" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AudioAccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="searchmode" serializeAs="String">
        <value>dialog</value>
      </setting>
      <setting name="SmilePack" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="redirect_uri" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RoundAvatars" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyAdress" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="Acrylic" serializeAs="String">
        <value>0.25</value>
      </setting>
      <setting name="AcrylicOpacity" serializeAs="String">
        <value>0.6</value>
      </setting>
      <setting name="PermanentOnline" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="showRightMenu" serializeAs="String">
        <value>True</value>
      </setting>
    </MicroVK.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <ThrowUnobservedTaskExceptions enabled="true" />
  </runtime>
</configuration>